In [1]:
import numpy as np
import pandas as pd

index = pd.date_range("7/12/2023", periods=20)

index

DatetimeIndex(['2023-07-12', '2023-07-13', '2023-07-14', '2023-07-15',
               '2023-07-16', '2023-07-17', '2023-07-18', '2023-07-19',
               '2023-07-20', '2023-07-21', '2023-07-22', '2023-07-23',
               '2023-07-24', '2023-07-25', '2023-07-26', '2023-07-27',
               '2023-07-28', '2023-07-29', '2023-07-30', '2023-07-31'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame(np.random.randn(20, 4), index = index, columns=["A", "B", "C", "D"])
df

                   A         B         C         D
2023-07-12  1.368118 -0.260582 -1.313825  0.445570
2023-07-13 -1.122880 -0.801404 -1.108730  0.618287
2023-07-14  0.500534  0.862935  0.359099 -0.296002
2023-07-15  1.122269 -0.187405  0.504347 -0.075818
2023-07-16  0.981144  1.543227 -0.809314  1.357559
2023-07-17  0.618946  0.696547 -0.528333  1.827756
2023-07-18  0.000645 -1.723326 -0.254605 -0.000206
2023-07-19  1.016093 -2.027083 -0.723461 -1.201378
2023-07-20  0.307319  0.084472  0.016686 -0.232731
2023-07-21 -1.038821  1.340517  1.026163 -0.371658
2023-07-22  0.420110 -1.095946 -1.020602 -0.171331
2023-07-23  2.577626 -1.758948 -1.662581  0.857890
2023-07-24  0.539929  2.273670  0.632075  0.187512
2023-07-25  0.545768 -0.710516 -0.826132  0.266862
2023-07-26 -0.616083  0.526116 -2.281369 -1.602995
2023-07-27  1.601797  0.080093 -0.653594  0.428127
2023-07-28 -0.210408 -0.326767  0.972420 -0.639540
2023-07-29 -1.750508 -0.366372 -0.619321 -1.790508
2023-07-30  2.092386 -0.460014 -0.706745  0.405926
2023-07-31 -0.994095 -0.042062  1.504962 -0.241815

In [4]:
df.head(2)

                   A         B         C         D
2023-07-12  1.368118 -0.260582 -1.313825  0.445570
2023-07-13 -1.122880 -0.801404 -1.108730  0.618287

In [6]:
df.tail(2)

                   A         B         C         D
2023-07-30  2.092386 -0.460014 -0.706745  0.405926
2023-07-31 -0.994095 -0.042062  1.504962 -0.241815